

ol.activeMenu,ol.activeMenu ol{
    padding-left:2em;
}
ol.activeMenu ol{
    padding-left:0.5em;
}
ol.activeMenu li.current{
    border:1px dashed #f00;
}
ol.activeMenu li:hover{
    
}


ol.activeMenu li {
    list-style: none;
}
/* カウンタ番号 */
/*
ol.activeMenu {
    counter-reset: section;
}
ol.activeMenu > li::before {
    content : counters(section, ".") " ";
    counter-increment : section;
}
*/

